/* body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
}
#root {
  margin: 0;
  width: 100%;
}
input,
textarea {
  outline: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #62666d;
}
/* button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #b23cfd;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px rgb(0, 0, 0);
}
button:hover {
  cursor: pointer;
  background: #013d30;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
} */

/* Ripple effect */
button {
  background-position: center;
  transition: background 0.8s;
}
button:hover {
  cursor: pointer;
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
}
button:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #0668b8;
  box-shadow: 0 0 4px #999;
  outline: none;
}

@media (min-width: 568px) {
  form {
    width: 60%;
  }
}
